[submodule "game-music-emu"]
	path = game-music-emu
	url = https://bitbucket.org/myQwil/game-music-emu.git
[submodule "pd-lib-builder"]
	path = pd-lib-builder
	url = https://github.com/myQwil/pd-lib-builder.git
