artist =foobar
disc   =1

@baz
@../fizz

# skipped, reading a parent playlist would cause an infinite recursion
@../a.plist

# skipped, the current playlist is considered a parent playlist
@b.plist

# skipped, doesn't exist
@d.plist

# a playlist stops being a parent upon completion,
# which allows for multiple read-throughs
@c.plist
@c.plist