name: Windows Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    name: Build on windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Build
        run: zig build
